<!DOCTYPE html>
<html>
<head>
  <title>Simpleportfolio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render 'refills/navigation'  %>
  <% flashes = {notice: 'success', alert: 'standard', error: 'alert', secondary: 'info'} %>
   <% flashes.each do |key, value| %>
         <% if flash[key] %>
           <%= content_tag :div, :data => { :alert => '' }, :class => "alert-box #{value} radius" do %>
             <%= flash[key] %>
         <%= link_to '&times;'.html_safe, '#', :class => 'close'%>
       <% end %>
     <% end %>
   <% end %>

  <%= yield %>

</body>
</html>
